* {
    /* font-family: 'WeezerFont', sans-serif; */
    font-family: "Space Grotesk", sans-serif;
    /* text-transform: uppercase; */
}
h2 {
    font-size: 12px;
    display: block;
    font-weight: 300;
}
a, s {
    text-decoration: none;
}