:root {
    --elementos-por-seccion: 2;
    --espacio: 10px;
}
.mini {
    --elementos-por-seccion: 3;
    --espacio: 20px;
}
.ventana {
    --elementos-por-seccion: 1;
    --espacio: 0px;
}
@media (width > 700px) {
    :root {
        --elementos-por-seccion: 4;
    }
    .mini {
        --elementos-por-seccion: 6;
    }
}
@media (width > 1300px) {
    :root {
        --elementos-por-seccion: 6;
    }
    .mini {
        --elementos-por-seccion: 8;
    }
}